.center-block{
	text-align:center;
	align:center;
}
.join-button{
	position:absolute;
	top:60px;
	right:10px;
}
.group-stat{
  position:absolute;
  top:20px;
  right:5px; 
  color:#E6E6E6;
}
.btn-change-picture{
  position:absolute;
  top:-15px;
  right:5px; 
}
.group-header{
  position: relative;
  min-height: 70px;
}
.group-page-header {
  min-height:250px;
  padding-top: 60px !important;
  padding-bottom: 0px !important;
}
.left-menu{
	height:100%;
}
.right-menu{
	height:100%;
}
.jumbotron{
	margin:0;
}
.row{
	width:100%;
	margin:0;
	padding:0;
}
.container{
	margin:0;
	padding:0;
}
.joinButton{
	border: 2px solid #00e64d;
	color:#1a0900;
	background-color: #00e64d;	
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:17px;
}
.joinButton:hover{
	border: 2px solid #00e64d;
	color:#00e64d;
	background-color: transparent;

}
.group_name{
	color:white;
	font-size: 30px;
  text-align: center !important;
}
.group_description{
	color:#e6e6e6;
	font-size: 20px;
  text-align: center !important;
}
.thread-search{
  background-color: white !important;
  display:block !important;
  margin: auto !important;
  width: 100% !important;
  height: 110% !important;
  font-size: 18px !important;
  border-radius: 0px !important;
  border: 1px solid #cccccc !important;
  padding: 2px !important;
}
.input-thread{
  background-color: white !important;
  display:block !important;
  margin: 5px !important;
  width: 100% !important;
  height: 100% !important;
  font-size: 20px !important;
  border-radius: 3px !important;
  border: 1px solid #cccccc !important;
  padding: 2px !important;
}
.input-description{
	margin-top: 20px;
  background-color: white !important;
  display:block !important;
  margin: 5px !important;
  width: 100% !important;
  height: 100% !important;
  font-size: 20px !important;
  border-radius: 3px !important;
  border: 1px solid #cccccc !important;
  padding: 2px !important;
}
span.twitter-typeahead{
    left:0px;
    width:100%;
    height:100%
}
.typeahead:focus{
    background-color: red;
    outline:none !important;
}
.tt-dropdown-menu {
    background-color: white;
    border-radius: 0px;
    border:1px solid grey;
    width: 100% !important;
    font-size: 19px;
    color:grey;      
}
select{
    color:grey;
    width:100%;
    font-size: 20px;
    padding: 4px;
    border-radius: 2px;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}
option{
    color:grey;
    width:100%;
    font-size: 20px;
}

.tt-suggestion.tt-is-under-cursor {
    background-color: #f1eaea;
    color: black;
}
.tt-suggestion p {
    border-top:1px solid #f1eaea;
}
input.tt-hint{
    text-decoration: none;
    width:100%;
    height:100%;
    color:transparent;
}
.search-glyph{
	position: relative;
	right: 30px;
	border: 0px;
    background-color: white;
}
.btn{
  border-radius: 0px !important;
  border:1px solid #020080 !important;
  color: #fff !important;
  background-color: #020080 !important;
}
.btn:hover{
  border-radius: 0px !important;
  border:1px solid #020080 !important;
  color: #020080 !important;
  background-color: white !important;
}
.button-inverse{
  border-radius: 0px !important;
  border:1px solid #020080 !important;
  color: #fff !important;
  background-color: #020080 !important;
}
.button-inverse:hover{
  border-radius: 0px !important;
  border:1px solid #020080 !important;
  color: #020080 !important;
  background-color: white !important;
}
.input-group-addon {
    background-color: transparent !important;
    border: 0px !important;
    padding: 0px !important;
}
.panel-thread{
	padding: 0px !important;
	width:80% !important;
	margin: auto !important;
	margin-top: 10px;
}
.modal-footer{
	text-align: center !important;
}
.btn-join{
	height: 30px !important;
}
.join-group{
  width:60px;
  height:30px;
  background-color: transparent;
  border:2px solid white;
  color:white;
}
.join-group-after-join{
  width:60px;
  height:30px;
  background-color: transparent;
  border:2px solid grey;
  color:grey;
}
.join-group:hover,.join-group:focus{
  text-decoration: none;
  outline: none;
}
.join-group-after-join:focus,.join-group-after-join:hover{
  text-decoration: none;
  outline: none;
}
button:focus{
  text-decoration: none !important;
  outline: none !important;
}
.a-group-name{
  color:white !important;
}
.a-group-name:hover{
  color:white !important;
  text-decoration:none !important;
}
.nav-tabs {
  border-bottom: 0px !important;
}
div{
  word-wrap: break-word;
}
.img-user{
  border-radius: 3px;
  width: 50px;height: 50px;
}
.img-post-user{
  border-radius: 3px;
  width: 60px;height: 60px;
}
.voting-button{
  background-color: transparent;
  border: transparent;
}
.edit-button{
  background-color: transparent;
  color:grey;
  border:none;
}
.comment-button{
  background-color: transparent;
  color:grey;
  border:none;
}
.comment-box{
  display: none;
}
.comment-section{

}
.post-row{
  background-color: #f5f5f0;
  border-top:1px solid #b3b3b3;
  padding-top: 10px;
  padding-bottom: 10px;
}
.post-content{
  text-align: left;
  color:black;
}
.comment-font{
  font-size: 15px;
}
.comment-single{
  padding: 5px;
  border-top:1px solid #d9d9d9;
}
.comment-box{
  margin-top:10px;
}
.post-link{
  padding-top: 5px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.post-link a{
  color:grey;
  text-decoration:none;
}
.post-link a:hover{
  color:#595959;
  text-decoration:none;
}
.fb-share{
  padding-top: 5px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.fb-share a{
  color:grey;
  font-weight: bold !important;
}
.fb-share a:hover{
  color:grey;
  font-weight: bold !important;
  text-decoration: none;
}
.fb-share .a-fb-share-button{
  border:2px solid #3b5998;
  background-color: #3b5998;
  color:white;
  padding: 3px;
}
.fb-share .a-fb-share-button:hover{
  border:2px solid #3b5998;
  background-color: #3b5998;
  color:white;
  padding: 3px;
}
.fb-share a:hover{
  color:#595959;
}
.post-user{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
textarea{
  width: 100%;
  resize: none;
}
.textarea-edit-post{
  width: 70%;
}
input[type="text"]{
    width: 70%;
  margin-bottom: 15px; 
}
.post-box{
  margin-bottom:20px !important;
}
.fa-grey{
  color:grey;
}
.fa-black{
  color:black;
}
.edit-post{
  position: absolute;
  margin-left: 10px !important;
  width: auto !important;
}
.comment-on-post{
  background-color: transparent;/*#f5f5f0*/
  border:2px solid transparent;
  border-radius: 10px;
  position: relative;
  left:-40px;
  width: auto !important;
  color:white;
  font-size: inherit;
}
.comment-on-post img{
  width: 20px;
  height: 20px;
}
.votes-font{
  position:relative;
  left:15px;
}
.post-row .col-xs-10 {
    width: 83.33333333%;
    padding-left: 40px !important;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button:focus {
    outline:0px !important;
}

.thread-row-discussions{
  float:right;
  text-align: right;
  margin-left: 0px;
}

/* fa-3x for post upvote downvote css in horizontal position*/
.fa-3x {
    font-size: 3em;
    position: relative !important;
    top: 10px !important;
}



/*to override css styles by sidebar_js that is working on home page as it is not working for group page*/
.li-group-join{
  text-align: left !important;
}
/*just needed to align things to left the is overriding sidebar_js.css*/

@media (max-width: 407px){
  .thread-row-discussions{
    display:block !important;
    clear: both;
    text-align: left;
    float:left;
    margin-left: -14px;
  }
}

@media screen and (min-width:589px) and (max-width: 768px)  {

    .votes-font{
      position:relative;
      left: -27px;
      top: 12px;
    }
    .post-row .col-xs-10 {
        width: 83.33333333%;
        padding-left: 20px !important;
    }

}